.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
}

.layout-header {
  position: sticky;
  top: 0;
  z-index: var(--z-navbar);
  width: 100%;
}

.layout-main {
  flex: 1;
  width: 100%;
}

.layout-footer {
  width: 100%;
  margin-top: auto;
}
