:root {
  /* breakpoints */
  /* mobile =  390px */
  /* desktop = 1440px */
  /* font family */

  --font-family: "Hanken Grotesk", sans-serif;

  /* colors */
  --color-primary: #000000;
  --color-white: #ffffff;
  --color-border: #000000;

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* mobile */
  /* Container */
  --padding: 8px;

  /* Navbar */
  --navbar-height: 45px;
  --navbar-border: 1px solid var(--color-border);
  --navbar-padding: 0;
  --navbar-gap: 10px;
  --navbar-text-size: 13px;
  --navbar-text-padding: 10px;
  --navbar-submenu-size: 24px;
  --navbar-submenu-size-desktop: 16px;
  --navbar-submenu-weight: var(--font-weight-regular);
  --navbar-submenu-thick-weight: var(--font-weight-bold);
  --navbar-icon-size: 17px;
  --navbar-icon-box: 20px;
  --navbar-left-box-width: 71px;
  --navbar-left-box-height: 16px;
  --navbar-right-box-width: 86px;
  --navbar-right-box-height: 36px;
  --navbar-right-padding: 10px;

  /* hero height */
  --hero-height: 713px;

  /* new section */
  --new-card-width: 282px;
  --new-card-height: 286px;
  --new-card-text-size: 40px;
  --new-card-text-weight: var(--font-weight-black);
  --new-textbox-width: 342px;
  --new-textbox-min-height: 78px;
  --new-textbox-align: center;
  --new-header-size: 14px;
  --new-header-weight: var(--font-weight-black);
  --new-text-size: 12px;
  --new-text-weight: var(--font-weight-regular);

  /* best seller section */
  --bestseller-card-width: 346px;
  --bestseller-card-height: 219px;
  --bestseller-card-text-size: 40px;
  --bestseller-card-text-weight: var(--font-weight-black);
  --bestseller-textbox-width: 346px;
  --bestseller-textbox-min-height: 78px;
  --bestseller-header-size: 14px;
  --bestseller-header-weight: var(--font-weight-black);
  --bestseller-text-size: 12px;
  --bestseller-text-weight: var(--font-weight-regular);
  --bestseller-textbox-align: center;

  /* collection section */
  --collection-width: 346px;
  --collection-min-height: 352px;
  --collection-card1-width: 346px;
  --collection-card1-height: 161px;
  --collection-card23-size: 161px;
  --collection-gap: 24px;
  --collection-text-size-1: 30px;
  --collection-text-size-2: 18px;
  --collection-font-weight: var(--font-weight-black);

  /* service section */
  --service-section-gap: 48px;
  --service-textbox-width: 280px;
  --service-textbox-gap: 14px;
  --service-header-size: 16px;
  --service-header-weight: var(--font-weight-bold);
  --service-text-size: 14px;
  --service-text-weight: var(--font-weight-regular);

  /* scrolling text section */
  --marquee-height: 85px;
  --marquee-text-size: 31px;
  --marquee-text-weight: var(--font-weight-extra-bold);
  --marquee-icon-size: 50px;
  --marquee-padding: 16px 0;
  --marque-gap: var(--gap-xl);

  /* spacing */
  --section-margin-y: 100px;
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 10px;
  --gap-lg: 24px;
  --gap-xl: 68px;

  /* transitions */
  --transition-fast: 150ms ease-in-out;
  --transition-base: 250ms ease-in-out;
  --transition-slow: 350ms ease-in-out;

  /* z-index */
  --z-navbar: 1000;
  --z-modal: 1500;
  --z-tooltip: 1100;
  --z-dropdown: 1150;
  --z-text-card: 900;
}

/* desktop */
@media (min-width: 1440px) {
  :root {
    /* container */
    --padding: 16px;

    /* navbar */
    --navbar-padding: 8px;
    --navbar-gap: 50px;
    --navbar-text-padding: 10px;

    /* hero height */
    --hero-height: 844px;

    /* new section */
    --new-card-width: 566px;
    --new-card-height: 572px;
    --new-card-text-size: 80px;
    --new-textbox-width: 715px;
    --new-textbox-align: center;
    --new-header-size: 16px;
    --new-text-size: 14px;

    /* best seller section */
    --bestseller-card-width: 1200px;
    --bestseller-card-height: 759px;
    --bestseller-card-text-size: 80px;
    --bestseller-textbox-width: 715px;
    --bestseller-header-size: 16px;
    --bestseller-text-size: 14px;

    /* collection section */
    --collection-width: 978px;
    --collection-min-height: 352px;
    --collection-card1-width: 978px;
    --collection-card1-height: 455px;
    --collection-card23-size: 455px;

    --collection-text-size-1: 60px;
    --collection-text-size-2: 40px;
    --collection-font-weight: var(--font-weight-black);
    --collection-gap: 68px;

    /* scrolling text section */
    --marquee-text-size: 60px;
    --marquee-text-weight: var(--font-weight-black);
    --marquee-icon-size: 85px;
    --marque-gap: 100px;

    /* service section */
    --service-section-gap: 126px;
    --service-textbox-gap: 14px;

    /* spacing */
    --section-margin-y: 80px;
  }
}
